html{
    color:white;
    position: relative;
}

/* white block */

.block{
    float: center;
    background:black;
    width:100%;
    left:0;
    right:0;
    top:10%;
    bottom:10%;
    height:80%;
    position: fixed;
    margin: auto 0 auto 0;
    z-index:-1;
}

.lineblock{
    width:70%;
    left:0;
    padding:0;
}

.line{
    border-bottom: 2px dashed white;
    height:10px;
}

h1{
    font-family:'Courier New', Courier, monospace;
    font-size: calc(30px + 4vw);
    margin: 100px 100px 100px 1.4em; 
}
h2{
    font-family:'Courier New', Courier, monospace;
    font-size: calc(18px + 1vw);
    margin: 50px 100px 50px 2em;
    text-transform:uppercase;
}
h3{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: calc(18px + 1vw);
    margin: 50px 100px 50px 4em;
}
p{
    font-family:'Courier New', Courier, monospace;
    font-size: calc(18px + 1vw);
    margin: 50px 100px 50px 6em;
    line-height:1.2em;
}
.name{
    text-transform:uppercase;
}
/* 
@media screen and (max-width: 600px) {
    h1 {
       font-size: 48px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 24px;
    }
    p{
        font-size: 24px;
    }
  } */