.video, .videotitle{
    width: 24vw;
    height: 24vw;  
    margin: 1.2em;
    box-sizing:border-box;
    border: 1px solid #999;
    overflow-y:scroll;
}

.videotitle{
    padding: 2em;
}

#a{
    transform: translateX(60vw) translateY(-6vw);
}
#b{
    transform: translateX(32vw) translateY(-12vw);
}
#c{
    transform: translateX(24vw) translateY(-12vw);
}

#d{
    transform: translateX(60vw) translateY(-18vw);
}

@media only screen and (max-width: 540px) {

    .video, .videotitle{
        width: 84vw;
        height: 84vw;
        margin: 8vw;
    }

    #a, #b, #c, #d{
        transform: translateX(0vw) translateY(0vw);
    }
}