body{
    background-color:black;
    height:100%;
}
img{
    width:100%;
}
/* NAVIGATION DESIGN */

@keyframes colchange{
    0%{
        background-color: #f2389a;
    }
    33%{
        background-color: #f4f431;
    }
    66%{
        background-color:#2995ed;
    }
    100%{
        background-color: #f2389a;
    }
}

/* BLOCK DESIGN */

.title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 5.4em;
    line-height: 1.2em;
    font-weight:900;
    margin:auto;
    text-align:center;
    color:white;
}
/* TYPOGRAPHY DESIGN */
.content{
    width:90%;
    margin:12em auto 12em auto;
}
h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.4em;
    line-height: 1.2em;
    top:0;
    margin-top:0em;
    padding-top:0;
    color:white;
}
h2{
    font-family: 'Playfair Display', serif;
    font-size: 2.4em;
    line-height: 1.2em;
    top:0;
    margin-top:.4em;
    padding-top:0;
}

h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight:700;
    padding:0;
    margin:0;
}
p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.4em;
    line-height: 1.8em;
    font-weight:400;
    padding:0em 0em 0em 24em;
    margin:0;
    hyphens:auto;
    text-align: left;
    color:white;
}

.indent{
    padding: 0em 10em 0em 30em;
}
.imgbox{
    width: 100vw;
    height:60em;
    margin:0;
    left:0;
    right:0;
}
#imgone{
    background: url("sketch-02.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#imgtwo{
    background: url("sketch-06.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#imgthree{
    background: url("sketch-08.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* SCROLLBAR DESIGN */
::-webkit-scrollbar{
    width:1em;
    height:1em;
    bottom:0;
    display:none;
}

::-webkit-scrollbar-track{
    background: black;
    width:2em;
}

::-webkit-scrollbar-thumb{
    background: #dddddd;
    border-radius: .5em;
    border: 4px solid black;
}

::-webkit-scrollbar-thumb:hover{
    background: #444444;
}
