.slide{
    width:100%;
    padding:2em;
    border-top: 1px dashed #444;
}
.slidetitle{
    width: 90%;
    box-sizing:border-box;
}
.slideimg{
    width: 90%;
    height: auto;
}

.slidetext{
    width: 100%;
    height: auto;
    padding: 2em 10% 2em 10%;
}

.slide, .slidetitle, .slideimg, .slidetext{
    box-sizing:border-box;
    margin:auto;
}