.koreangrid{
    width:72vh;
    height:72vh;
    display:grid;
    grid-template-columns: 1fr 1fr;
    z-index: 5;
    box-sizing: border-box;
    grid-gap:.4em;
}

.box{
    border: 1px solid #bbb;
}

.captionbox{
    padding: 0 1.2em 0 1.2em;
}

.box, .captionbox{
    width: 100%;
    background-color:black;
    box-sizing:border-box;
}

.koreantitle{
    width: 48vh; 
    height:100vh; 
    border-left: 1px dashed #444;
    box-sizing: border-box;
    position:relative;
    display:inline-block;
    white-space:normal;
    overflow-y:hidden;
    padding: 4.8em 1.2em 1.2em 1.2em;
    background-color:black;
}

h5{
    font-weight:600;
    color: #eee;
}

h6{
    font-weight:400;
    color: #999;
}

h5, h6{
    font-family: 'Gothic A1', sans-serif;
    font-size: 1em;
    top:0;
    bottom:0;
    margin:0;
}


@media only screen and (max-width: 600px){
    .koreangrid{
        width:84vw;
        height:auto;
        display:grid;
        grid-template-columns: 1fr;
        z-index: 5;
        box-sizing: border-box;
        padding: 0 6vw 0 6vw;
    }

    .koreantitle{
        width: 100vw;
        height:24vw;
        padding: 0 6vw 0 6vw;
        border-left: 1px dashed #444;
        box-sizing: border-box;
        position:relative;
        display:inline-block;
        white-space:normal;
        overflow-y:hidden;
        padding:1.2em;
        background-color:black;
    }

    .box{
        width: 84vw;
        height: 84vw;
    }

    .captionbox{
        width: 84vw;
        padding: 1.2em 0 1.2em 0;
    }

}