body{
    background-color:black;
    height:100%;
}
img{
    width:100%;
}
/* NAVIGATION DESIGN */
.nav{
    position: fixed;
    width:100%;
    height:auto;
    background-color:black;
    top:0;
    left:0;
    padding:1em;
    z-index:1;
}
.navtitle{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight:500;
    color:white;
}

.titleimg{
    animation: colchange 4.8s infinite;
}

@keyframes colchange{
    0%{
        background-color: #f2389a;
    }
    33%{
        background-color: #f4f431;
    }
    66%{
        background-color:#2995ed;
    }
    100%{
        background-color: #f2389a;
    }
}

.horizontal{
    position: fixed;
    width:100vh;
    height: 100vw;
    left:0;
    top:0;
    overflow-x:hidden;
    overflow-y:scroll;
    transform: rotate(-90deg) translateY(-100vh);
    transform-origin: right top;
    background-color: #111111;
    z-index: -1;
}

/* BLOCK DESIGN */

.block{
    display: grid;
    position: fixed;
    grid-template-columns: repeat(100,auto);
    width:auto;
    height:100vh;
    left:0; right:0; top:0; bottom:0;
    margin:0vh;
    padding:0;
    color:white;
    transform: rotate(90deg) translateX(100vh);
    transform-origin: right top;
    border: 1px solid red;
    z-index: 0;
}

.innerblock{
    height:100vh;
    margin:0;
    border-left:blue 1px solid;
    z-index: 1;
    background-color: rgb(4,4,4,.5);
}

.title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 6em;
    line-height: 1.2em;
    font-weight:900;
}

.img{
    width: 36em;
    display: inline-block;
    height:100vh;
    margin:4.8em 2em 4.8em 0em;
    top:0;bottom:0;
}

.text{
    height: 74vh;
    width: 30em;
    overflow-wrap: break-word;
    overflow-y:scroll;
    margin:4.8em 2em 4.8em 0em;
    padding: 0em 1.2em 3.6em 1.2em;
    top:0;bottom:0;
    display: inline-block;
    border-radius: .5em;
}

.text::-webkit-scrollbar{
    width:.8em;
}

.text::-webkit-scrollbar-track{
    background: none;
    width:.8em;
}

.text::-webkit-scrollbar-thumb{
    background-color:#bbbbbb;
    border-radius: .5em;
    width:1em;
    border:none;
}

.text::-webkit-scrollbar-thumb:hover{
    background: #eeeeee;
}

/* TYPOGRAPHY DESIGN */

h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.4em;
    line-height: 1.2em;
    top:0;
    margin-top:0em;
    padding-top:0;
}
h2{
    font-family: 'Playfair Display', serif;
    font-size: 2.4em;
    line-height: 1.2em;
    top:0;
    margin-top:.4em;
    padding-top:0;
}

h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight:700;
    padding:0;
    margin:0;
}
p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight:400;
    padding:0;
    margin:0;
    hyphens:auto;
    text-align: left;
}

/* SCROLLBAR DESIGN */
::-webkit-scrollbar{
    width:1em;
    height:1em;
    bottom:0;
    display:none;
}

::-webkit-scrollbar-track{
    background: black;
    width:2em;
}

::-webkit-scrollbar-thumb{
    background: #dddddd;
    border-radius: .5em;
    border: 4px solid black;
}

::-webkit-scrollbar-thumb:hover{
    background: #444444;
}
