html{
    background-color:#DEDFD9;
    color:#080808;
}
input:focus, textarea:focus, select:focus {
    outline: none;
}

summary{
    width:100%;
    list-style-image: url(icon.svg);
    right: 0;
}
summary:hover{
    background-color:#cccccc;
    outline: none;
}
summary:active{
	outline:none;
}
details{
    width:100%;
    right: 0;
}

img{
    width:100%;
}

details summary::-webkit-details-marker {
    color: black;
    content: “\25B7”; 
}

/* CLASS/ID */
.bigtitle{
    font-size: 1.6em;
    line-height: 1.4em;
    font-family:'helvetica', serif;
    font-weight:bold;
    text-transform: uppercase;
    animation: appears 0.5s linear;
    border-bottom: 1px solid black;
}

.des{
    font-family: 'Libre Baskerville';
    font-size: 1.6em;
    line-height: 1.4em;
    margin-left: 8em;
    padding:1em;
    animation: appears 0.5s linear;
}

.section{
    text-transform: uppercase;
    display:inline-block;
    width:100%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
    font-size: 1.6em;
    line-height: 1.2em;
    right: 0;
    margin-left: 8em;
    animation: appears 0.5s linear;
    padding: 5px 0 5px 0;
    border-top: 1px solid black;
}

.insection{
    margin-left: 14.2em;
    padding: 2em;
    animation: appears 0.5s linear;
    right:0;
}

#grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.grid{
    display:grid;
    grid-template-columns: 240px 1fr;
}

.container{
    display:inline-block;
    padding: 1em;
}

.title{
    top:0;
    font-size: 1.6em;
    line-height: 1.4em;
    font-style: italic;
    font-family:'helvetica', serif;
    font-weight:bold;
    text-transform: uppercase;
    margin-bottom:0;
}
.subtitle{
    top:0;
    font-size: 1.5em;
    line-height: 1.4em;
    font-family: 'Libre Baskerville';
    font-weight:normal;
    margin-bottom:0;
}
.text{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
    font-size: 1.6em;
    line-height: 1.4em;
}
li{
    font-family: 'Libre Baskerville';
    font-weight:bold;
    bottom:0;
    margin-bottom: 0;
    margin-top:0;
}

/* ANIMATION */

@keyframes appears{
    0%{
        opacity:0;
        transform:translateY(10px);
    }
    100%{
        opacity:1;
        transform:translateY(0px);
    }
}

/* BG COLOR */

#class{
    background-color:#BA5555;
}
#bookone{
    background-color:#CEB652;
   
}
#booktwo{
    background-color:#71A545;
}
#designer{
    background-color: #5E8ABE;
} 

#place{
    background-color:#111111;
    color:white;
}

/* RESPONSIVE */

@media only screen and (max-width: 720px) {

    .des{
        margin-left: 0;
    }
    .section{
        margin-left: 0;
    }
    .insection{
        margin-left: 0;
    }
    .grid{
        display:inline-block;
    }
    #grid{
        display:inline-block;
    }
    .container{
        margin:auto;
        padding:auto;
        width:100%;
    }
    .img{
        width:100%;
    }

}