body{
    background-color:black;
}

h1{
    font-family: "pixelVarious";
    font-size: calc(4.8em + 1.2vw);
    font-weight: 900;
    letter-spacing: 0.05em;
    color:white;
    animation: fontchange 2s infinite;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

h2{
    font-family: "courier new";
    font-size: 6em;
    font-weight: 100;
    color:white;
    background-color:black;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

h3{
    font-family: "pixelVarious";
    font-size: calc(3.6em + 1.2vw);
    letter-spacing: 0.05em;
    color:black;
    margin:0;
    line-height:1.2;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

h3:hover{
    animation: fontchange 2s infinite;
}


summary{
    font-family: "pixelVarious";
    font-size: calc(3.6em + 1.2vw);
    letter-spacing: 0.05em;
    color:white;
    line-height:1.2;
    font-weight: 100;
    padding: 0 0 15px 0;
    margin:0;
    outline: none;

}

summary:hover{
    animation: fontchange 2s infinite;
    outline: none;
}

summary:active{
    outline:none;
}

summary::-webkit-details-marker {
    display: none
}

a{
    color: black;
}

@font-face {
    font-family: "pixelVarious";
    src: url("NewFontGX.ttf");
    font-weight: 100 900;
}

/* ANIMATION */

@keyframes fontchange{
    0%{
        font-weight: 100;
    }
    50%{
        font-weight: 900;
    }
    100%{
        font-weight: 100;
    }
}

/* CLASSES */

.link{
    color:white;
}
.link:hover{
    animation: fontchange 2s infinite;
}

.text{
    font-family: "courier new";
    font-size: calc(1em + .8vw);
    font-weight: 100;
    color:white;
    background-color:black;
    line-height:1.2;
    display:inline-block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
.textframe{
    width:72%;
    margin: 6em 4em 6em 4em;
    display:inline-block;
}

.bg{
    position:fixed;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    z-index: -1;
}

.left{
    width:80%;
    margin: 0 15% 0 60px;
    text-align: left;
}

.right{
    width:80%;
    right:0;
    margin: 0 60px 0 15%;
    text-align: right;
}

.imgbox{
    margin-left:0;
    margin-bottom: 20px;
    word-wrap: break-word;
    border: 2px solid white;
    border-radius:4px;
}

/* individual bg images */

.time{
    background: url("time_machine.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}
.war{
    background: url("war_worlds.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.moon{
    background: url("moon.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.earth{
    background: url("earth.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.ape{
    background: url("planet_ape.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.tron{
    background: url("tron.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.owell{
    background: url("1984.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.terminator{
    background: url("terminator.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.space{
    background: url("spaceodyssey.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.future{
    background: url("future.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.blade{
    background: url("bladerunner.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* RESPONSIVE */

@media only screen and (max-width: 720px) {
    summary{
        width:90%;
        text-align:center;
    }
    .left{
        width:84%;
        margin: 0px auto 0px auto;
        text-align:center;
    }
    .right{
        width:84%;
        margin: auto;
        text-align: center;
    }
    .imgbox{
        margin-left:0;
        margin-bottom: 20px;
        word-wrap: break-word;
    }
    .textframe{
        width:72%;
        margin: 4em;
        display:inline-block;
    }
}