body{
    background-color:black;
}

h1{
    font-family: "pixelVarious";
    font-size: 6em;
    font-weight: 900;
    letter-spacing: 4px;
    color:white;
    padding-left:60px;
}

h2{
    font-family: "courier new";
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 4px;
    color:white;
    background-color:black;
}

h3{
    font-family: "pixelVarious";
    font-size: 6em;
    letter-spacing: 4px;
    color:black;
    text-align: center;
    padding:0;
    margin:0;
    line-height:0.75;
}
h3:hover{
    animation: fontchange 1s ease-in;
}

h4{
    font-family: "pixelVarious";
    font-size: 6em;
    letter-spacing: 2px;
    color:white;
    text-align: center;
    padding:0;
    margin:0;
    line-height:2;
}


@font-face {
    font-family: "pixelVarious";
    src: url("NewFontGX.ttf");
    font-weight: 100 900;
}

@keyframes fontchange{
    0%{
        font-weight: 100;
        letter-spacing: 4px;
    }
    100%{
        font-weight: 900;
        letter-spacing: 12px;
    }
}

.bg{
    position:fixed;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    z-index: -1;
}

.left{
    width:70%;
    margin: 0 25% 0 0;
    text-align: left;
}

.right{
    width:70%;
    right:0;
    margin: 0 0 0 25% ;
    text-align: right;
}

.clock{
    width:1200px;
    height: 50px;
    padding:0;
    margin: 10 auto 10 25%;
    text-align: left;
}

.time{
    background:url("time_machine.jpg") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
}